html{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background: #0D0D2B; */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    box-sizing: border-box;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    background: #0D0D2B;
    color: #ffff;
  }


#nav-container{
    padding-left: 7.5rem;
    padding-right: 3rem;

    /* padding-top: 4.125rem; */
    /* display: flex;
    align-items: center;
    margin-bottom: 86px;
    justify-content: space-between; */
}



.left-side{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffff;
    cursor: pointer;
}


#logo{
    width: 40px;
    margin-right: 1rem;
}

#logo-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
}


.nav-links ul, button{
    cursor: pointer;
}

.nav-links li{
    display: inline-block;
    padding: 0px 0px;
    margin-right: 2rem;
    list-style: none;
}

a, button{
    text-decoration: none;
    color: #ffff;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    letter-spacing: 0.01em;
}

a:hover{
    text-decoration: underline;
}

.nav-btn{
    padding: 14px 32px;
    background: #3671E9;
    border-radius: 32px;
    margin-left: 20px;
}
#vertical-seperator{
    border-left: 2px solid #F2F2F2;
    opacity: 0.3;
    min-height: 20px;
}
#login-a{
    font-weight: 500;
    margin-right: 10px;
    margin-left: 56px;
}
/* HEADER */

header{
    display: flex;
    flex-direction: row;
    padding-left: 7.5rem;
    margin-bottom: 7rem;
}

.hero-text{
    width: 45%;
    padding-top: 45px;
}

.hero-tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 365px;
    height: 40px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 32px;
    gap: 16px;
    margin-bottom: 1.5rem;
}

.hero-tag > p1{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #0D0D2B;
    background: #ffff;
    padding: 4px 16px;
    border-radius: 32px;
    margin-left: 4px;
}

.hero-tag > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    /* identical to box height, or 175% */
    letter-spacing: 0.01em;
    margin-bottom: 0;
}

.hero-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    gap: 24px;
    padding: 16px 16px 16px 24px;
    width: 202px;
    background: #3671E9;
    border-radius: 32px;
    cursor: pointer;
    
}

.hero-btn > h2{
    background: #3671E9;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    /* identical to box height, or 27px */

text-align: center;
    /* display: inline-block; */
}
#hero-btn-icon{
    /* padding: 6px 11px; */
    width: 32px;
    height: 32px;
    background: #ffff;
    color: #3671E9;
    font-size: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.hero-text > h1{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 76px;
    margin-bottom: 1.5rem;
}
.hero-text > p{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
    /* or 175% */
    letter-spacing: 0.01em;
    /* Neutral / Grey 5 */

    color: #E0E0E0;
    margin-bottom: 2rem;
    width: 27.1875rem;
}
.hero-img > img{
    width: 37.75rem;
}

/* SECTION ONE */
.sect-1{
    padding: 6.25rem 7.5rem;
}
.stats-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6.1875rem;
    margin-bottom: 6.25rem;
}
.stats{
    display: flex;
    flex-direction: row;
}

.stat-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 1.5rem;
}

.stats-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.stats-text > h1{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
}
.stats-text > p {
    font-weight: 400;
    line-height: 28px;
    /* identical to box height, or 175% */
    letter-spacing: 0.01em;
    color: #E0E0E0;
}

.flex-wrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 6.25rem;
}
.flex-text > h1{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
    padding-top: 4.8rem;
    margin-bottom: 23.99px;
}

.flex-text > p{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    letter-spacing: 0.01em;
    color: #E0E0E0;
    margin-bottom: 33.99px;
}

.flex-text > button{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding: 16px 24px;
    background: #3671E9;
    border-radius: 32px;
}

.check-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.check-text > h2{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
    margin-bottom: 1.5rem;
}
.check-text > p {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 150%;
    width: 38.875rem;
    text-align: center;
    margin-bottom: 4rem;
}

.sect-2{
    height: auto;
    min-height: 100px;
    background: #ffff;
}
.hash-rate{
    position: relative;
    top: -150px;
    left: 20%;
    width: 60%;
    height: 23.1876rem;
    background: #FBFCFE;
    border-radius: 16px 16px;
    padding: 3rem;
    box-shadow: 0 0 5px #2B076E;
}
.hash-rate > div{
    min-height: 50%;
}

.hash-rate #top{
    display: flex;
    flex-direction: row;
    gap: 48px;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25rem;
    line-height: 150%;
    color: #0D0D2B;
}
#top input{
    width: 50%;
    font-size: inherit;
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 1px solid #E0E0E0;
}


#top select{
    width: 25%;
    font-size: inherit;
    padding-bottom: 0.5rem;
    border: none;
    border-bottom: 1px solid #E0E0E0;
    
}

#top input:focus, #top select:focus{
    outline: none !important;
    box-shadow: 0 0 5px #2B076E;
}
#top button{
    padding: 1rem 2rem;
    font-size: 1.125rem;
    transition: all 1s ease;
}
#top button:hover{
    transform: scale(1.2);
    transition: all 1s ease;
}

#bottom h3{
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    /* identical to box height, or 24px */
    letter-spacing: 0.04em;
    text-transform: uppercase;
    /* Color / Accent */
    color: #3671E9;
}
#bottom h2{
    font-weight: 700;
    font-size: 2rem;
    line-height: 150%;
    /* identical to box height, or 48px */
    letter-spacing: 0.04em;
    /* Color / Primary */
    color: #0D0D2B;
}

#bottom p{
    font-size: 1rem;
    line-height: 28px;
    /* identical to box height, or 175% */
    letter-spacing: 0.01em;
    /* Neutral / Grey 3 */
    color: #828282;
}

.hash-rate button{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding: 16px 24px;
    background: #3671E9;
    border-radius: 32px;
    border: none;
}

.sect2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    margin-top: -6.25rem;
}
.sect2-text > h2{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
    text-align: center;
    color: #0D0D2B;
    width: 46.3rem;
}

.grid-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px;
    padding: 7.5rem;
    background: #F7F7F9;
}

.col{
    /* text-align: center; */
    min-height: 433px;
    padding: 3rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0D0D2B;
    background: #FFFFFF;
    box-shadow: 0 0 1px #757779;
    border-radius: 16px;
}


.col-active{
    background: #2B076E;
    color: #FFFFFF;
    backdrop-filter: blur(250px);
}
.col > p{
    font-size: 1rem;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #828282;
    margin-bottom: 24px;
}

.col-title{
    display: flex;
    align-self: center;
    justify-content: center;
}
.col-title > h1{
    font-weight: 700;
    font-size: 2rem;
    line-height: 150%;
    text-align: center;
    color: inherit;
}

.col-title{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-top: 47px;
    margin-bottom: 17px;
}
/* .col-title-p{
    text-align: center;
} */
.col-title-p{
    display: flex;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 150%;
    color: #BDBDBD;
    align-items: center;
}



.grid-btn-icon{
    width: 64px;
    height: 64px;
    background: #ffff;
    border: 1px solid #3671E9;
    color: #3671E9;
    font-size: 1.2rem;
    border-radius: 50%;
    border: 2px solid rgba(43, 7, 110, 0.2);
    display: none;
    align-items: center;
    justify-content: center;
    
}



.mining-btn{
    display: none;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 16px 16px 16px 24px;
    width: 202px;
    background: #3671E9;
    border-radius: 32px;
    cursor: pointer;
}
.show-icon{
    display: flex;
}

.mining-btn > h2{
    background: #3671E9;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    text-align: center;
}
.mining-btn-icon{
    /* padding: 6px 11px; */
    width: 32px;
    height: 32px;
    background: #ffff;
    color: #3671E9;
    font-size: 1.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .activeIcon{
    display: flex;
} */


/* SECTION 3 */
.sect-3{
    min-height: 80vh;
    background: #2B076E;
    padding-top: 100px;
    padding-bottom: 100px;
}

.sect-3 .wrapper > h1{
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 150%;
}
.sect-3 h1{
    font-weight: 700;
    font-size: 2rem;
    line-height: 150%;
}
.sect-3 .wrapper{
    width: 47.375rem;
    margin: auto;
    text-align: center;
}

.sect-3 button{
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    padding: 16px 24px;
    background: #3671E9;
    border-radius: 32px;
    border: none;
}
.sect-3 .flex-wrapper{
    padding-top: 6.25rem;
    padding-left: 7.5rem;
    padding-right: 0px;
    gap: 9.125rem;
}

.sect-3 #div2{
    flex-direction: row-reverse;
    padding: 0px 20px;
    gap: 5.7rem;
}
.sect-3 #div3{
    gap: 4rem;
}
.sect-3 .flex-text{
    width: 28.375rem;
}
#div3 h1{
    padding: 0px;
    margin: 0px;
}

.reveal{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.activeWindow{
    transform: translateY(0px);
    opacity: 1;
}

/* FOOTER */
.footer-grid{
    display: grid;
    /* grid-template-columns: repeat(4, 19.6875rem 12.5rem 12.5rem auto); */
    grid-template-columns: auto 12.5rem 12.5rem 22.1875rem;
    grid-gap: 2rem;
    padding: 5rem 7.5rem;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    max-height: 40px;
    align-items: center;
    cursor: pointer;
}
.footer-grid ul li{
    list-style: none;
}
.footer-grid h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    margin-bottom: 1.5rem;
}
.footer-grid a{
    line-height: 38px;
    color: #F2F2F2;
}

#payment-systems h1{
    font-weight: 500;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 2.5rem;
}
.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer-icons img{
    cursor: pointer;
}


#copyright-text{
    line-height: 28px;
    letter-spacing: 0.01em;
}
#bottom-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 7.5rem;
}
.social-icons{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}